extends layout
  //meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')

block content

  for user, i in userDetails 
    body#page-top
      nav#mainNav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.page-scroll(href='#page-top') #{user.firstname} &nbsp; #{user.surname}
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='#about') Login/Register
              
              li
                a.page-scroll(href='#portfolio') Portfolio Pieces
              li
                a.page-scroll(href='#contact') Contact
              li
                a.page-scroll(href='/dashboard') Dashboard
              
          // /.navbar-collapse
        // /.container-fluid
        
        //SECTION 1
      header
        .header-content
          .header-content-inner
            h1 Welcome to #{user.firstname}'s portfolio
            hr
            p
              | Browse through my portfolio pieces.  My contact details are at the end of this page
              br
              | Feel free to contact me to find out more.
            a.btn.btn-primary.btn-xl.page-scroll(href='#about') My Biography
      section#about.bg-primary
        .container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
              h2.section-heading Biography
              hr.light
              p.text-faded #{user.bio}
              
      .container
      .col-xs-12.text-center
        h2 My Portfolio Pieces
      
      section#portfolio.no-padding
        .container-fluid
          .row.no-gutter
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/1.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/2.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/3.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/4.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/5.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
            .col-lg-4.col-sm-6
              a.portfolio-box(href='#')
                img.img-responsive(src='img/portfolio/6.jpg', alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | Category
                    .project-name
                      | Project Name
    
      section#contact
        .container
          .row
            .col-lg-8.col-lg-offset-2.text-center
              h2.section-heading Need some tips?
              hr.primary
              p
                | Contact Form?
            .col-lg-4.col-lg-offset-2.text-center
              i.fa.fa-phone.fa-3x.wow.bounceIn
              p 
                a(href='tel:#{user.phonenumber}') #{user.phonenumber}
            .col-lg-4.text-center
              i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              p
                a(href='mailto:#{user.email}') #{user.email}
              p
                a(href='/#{user.linkedin}') #{user.linkedin}
              p
                a(href='twitter.com/#{user.twitter}') #{user.twitter}
              
      // jQuery
      script(src='js/jquery.js')
      // Bootstrap Core JavaScript
      script(src='js/bootstrap.min.js')
      // Plugin JavaScript
      script(src='js/jquery.easing.min.js')
      script(src='js/jquery.fittext.js')
      script(src='js/wow.min.js')
      // Custom Theme JavaScript
      script(src='js/creative.js')
